*, html, body {
    box-sizing: border-box;
    margin: 0;
}

.pageContainer {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;

    grid-template-areas:
     "header-left header header-right"
     "main-left main main-right"
     "footer-left footer footer-right";

    place-items: center;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;

    place-self: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btn {
    width: 100px;
    height: 50px;
}

.btn-start {

}

.btn-stop {

}

#serverStateInfo {
    display: inline-block;
    width: 50px;
    background: red;
}