doctype html
hmtl
    head 
        title= title 
        style
            include ..\includes\styles\index.css
    body 
        div(class="pageContainer")
            h1(class="header") dc:da server panel
            div(class="footer")
                p Server state 
                    span(id="serverStateInfo") &nbsp;
                div(class="footer-buttons")
                    button(type="button" id="stopServer" class="btn btn-stop") Stop
                    button(type="button" id="startServer" class="btn btn-start") Start
        script 
            include ..\includes\scripts\serverRequests.js
            include ..\includes\scripts\main.js