doctype html
hmtl
    head 
        title= title 
        style
            include ..\includes\styles\index.css
    body 
        div(class="pageContainer")
            p(class="header") Links und so'n Quatsch
            p(class="footer-left") Links unten?
            button(class="")
        script 
            include ..\includes\scripts\serverRequests.js
            include ..\includes\scripts\main.js