*, html, body {
    box-sizing: border-box;
    margin: 0;
}

.pageContainer {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 80vh 1fr;

    grid-template-areas:
     "header-left header header-right"
     "main-left main main-right"
     "footer-left footer footer-right";

    place-items: center;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    border: 1px solid rgba(0,0,0,0.2);
}

.footer {
    grid-area: footer;
    height: 100%;
    width: 100%;

    place-self: center;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btn {
    width: 100px;
    height: 50px;
}

.btn-start {

}

.btn-stop {

}

#serverStateInfo {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;

    margin-left: 10px;
}

.online {
    background-color: lightgreen;
}

.offline {
    background-color: red;
}